doctype html
html(ng-app="loginRegister")
    head(lang="el")
        //meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(charset="utf-8")
        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{text.pageTitle}
        link(rel="stylesheet", type="text/css", href="/bs/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/login-registration/base.css")
        link(rel="stylesheet", type="text/css", ng-href="{{pageCSS}}")
    body
        div(ui-view)

    include ../footer.jade
    script(src="/js/login-registration/loginRegister.js")
    script(src="/js/services/authenticate.js")
    script(type="text/javascript", src="/angular-resource/angular-resource.min.js")
    //script(type="text/javascript", src="/libs/angular-resource.min.js")