nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
    .container
        .navbar-header
            p.navbar-brand
                |Developed by <a href="mailto:info@centaurtek.com" target="_top">Centaur Technologies</a> and <a href="http://www.agrospecom.gr" target="_blank"> Agrospecom Ltd</a><span class="footnote">Πιλοτική έκδοση. Τα δεδομένα μπορεί να μην ανταποκρίνονται στην πραγματικότητα.</span>
                span.footnote.pull-left Πρόγραμμα ΕΚΕΠΕ επιχορηγούμενο από την ΕΕ – Καν.(ΕΚ)867/08 – Δράση Δi1, εγκεκριμένο με την αριθμ. 1474/40225.30.03.12 Απόφαση του Υπουργού Αγροτικής Ανάπτυξης και Τροφίμων
style.
    body { padding-bottom: 60px; }
    .footnote { margin-left:10px; font-size:12px;font-style:italic;}
script(type="text/javascript", src="/libs/jquery-1.11.1.min.js")
script(src="/libs/angular.min.js")
script(src="/libs/angular-ui-router.min.js")
