nav.navbar.navbar-default.navbar-fixed-bottom
    p.navbar-brand(style="text-align:right")
        |Developed by <a href="http://www.centaurtek.com/" target="_top">Centaur Technologies</a>
script(type="text/javascript", src="/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/angular/angular.min.js")
script(type="text/javascript", src="/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="/angular-jwt/dist/angular-jwt.min.js")
script(type="text/javascript", src="/ladda/dist/spin.min.js")
script(type="text/javascript", src="/ladda/dist/ladda.min.js")