doctype html
html(ng-app="oilpressApp",ng-controller="mainController")
    head(lang="el")
        //meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(charset="utf-8")
        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title(idle-disabled="true") {{pageTitle}}
        link(rel="stylesheet", type="text/css", href="/bs/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/oilpress/oilPress.css")
        link(rel="stylesheet", type="text/css", href="/ladda/dist/ladda.min.css")
        link(rel="stylesheet",type="text/css",ng-href="{{pageCSS}}", ng-repeat="pageCSS in pageCSSArray")
        |<!--[if !IE]><!-->
        link(rel="stylesheet",type="text/css",ng-href="{{nonIEPageCSS}}", ng-repeat="nonIEPageCSS in nonIEPageCSSArray")
        |<!--<![en  dif]-->

    body
        //embed(type="application/x-java-applet;version=1.6", width=300, height=200, archive="test.jar", pluginspage="http://java.com/download/")
        oil-press-menu
        alert(type="warning", close="closeAlert()", ng-show="showContactWarning") Για οποιαδήποτε απορία ή αναφορά προβλήματος επικοινωνήστε με mail στο <a href="mailto:info@farmer.gr" target="_top">info@farmer.gr</a>
        div(ui-view)

    include ../footer.jade
    script(type="text/javascript", src="/angular-animate/angular-animate.min.js")
    script(type="text/javascript", src="/js/oilpress/oilpressApp.js")
    script(type="text/javascript", src="/angular-bootstrap/ui-bootstrap-tpls-0.12.0.min.js")
    //script(type="text/javascript", src="/js/shared/dateTimeDirective.js")
    //script(type="text/javascript", src="/js/shared/dateTimePicker.js")
    script(type="text/javascript", src="/js/oilpress/oilpressDirectives.js")
    script(type="text/javascript", src="/js/oilpress/oilpressControllers.js")
    script(type="text/javascript", src="/js/oilpress/oilpressServices.js")
    script(type="text/javascript", src="/angular-resource/angular-resource.min.js")
    script(type="text/javascript", src="/js/shared/modals.js")
    script(type="text/javascript", src="/js/shared/sharedDirectives.js")
    script(type="text/javascript", src="/ladda/dist/ladda.min.js")

    //create the page header functionality for dynamic language loading, and have it in the end of the page for avoiding showing it till angular gets loaded
    .hidden {{setPageHeaders(#{JSON.stringify(pageHeaders)})}}
