/*New inflow - search form show/hide animations */
#newInflowFormPanel.ng-hide, #searchInflowSection.ng-hide{
    line-height:0;
    opacity:0;
    padding:0;
}

#newInflowFormPanel.ng-hide-add.ng-hide-add-active,#searchInflowSection.ng-hide-add.ng-hide-add-active,
#newInflowFormPanel.ng-hide-remove.ng-hide-remove-active, #searchInflowSection.ng-hide-remove.ng-hide-remove-active{
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
/********************************************************/
.panel-footer button{
    margin-left:5px;
}
